<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CSV Demo</title>
    <style>
        table {
            width: 95%;
            border-collapse: collapse;
            margin: 50px auto;
        }
        /* Zebra striping */
        tr:nth-of-type(odd) {
            background: #eee;
        }
        th {
            background: #3498db;
            color: white;
            font-weight: bold;
        }
        td, th {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
            font-size: 18px;
        }
        #w100 {
            width: 400px;
        }
    </style>
</head>

<body>
<div>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select a CSV file:</label>
        <input type="file" id="file" name="file"><br><br>
        <input type="submit">
    </form>
</div>
<table id="table">
    <thead>
    <tr>
        <th th:each="tableHeader: ${tableHeaders}">
            <label th:for="${tableHeader}">
                <select th:onchange="'filter(this);'" th:id="${tableHeader}">
                    <option>Select to Filter</option>
                    <option th:each="name: ${filters.get(tableHeader)}" th:value="${name}" th:text="${name}"></option>
                </select>
            </label>
        </th>
    </tr>
    <!--/*@thymesVar id="tableHeader" type="com.ubaid.elixir.elixirApp.common.TableHeader"*/-->
    <tr>
        <th th:each="tableHeader: ${tableHeaders}" th:text="${tableHeader.toString()}">
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract: ${contracts}">
        <!--/*@thymesVar id="contract" type="com.ubaid.elixir.elixirApp.dto.Contract"*/-->
        <td>
            <span th:each="seg: ${contract.getContractPlanSegComp()}">
                <p th:text="${seg}"></p>
            </span>
        </td>

        <td th:text="${contract.getContract()}"></td>
        <td th:text="${contract.getBrandName()}"></td>
        <td id="w100">
            <span th:each="plan: ${contract.getPlanNames()}">
                <p th:text="${plan}"></p>
            </span>
        </td>

        <td>
            <span th:each="state: ${contract.getState()}">
                <p th:text="${state}"></p>
            </span>
        </td>

        <td>
            <span th:each="abbr: ${contract.getStateAbbreviation()}">
                <p th:text="${abbr}"></p>
            </span>
        </td>
        <td th:text="${contract.getProductType()}"></td>
    </tr>
    </tbody>
</table>
</body>

<script>

    //for filtering
    function filter(headerName) {

        //removing all filters
        const arr = ['contract_plan_seg_comp', 'contract', 'brand_name', 'plan_name', 'state', 'state_abbreviation', 'product_type'];
        arr.forEach((value) => {
            let header = document.querySelector("#" + value);
            if (header !== headerName) {
                header.selectedIndex = 0;
            }
        })

        //searching for selected filter
        let filter, input, tr, td, cell, i, j;
        if (headerName.selectedIndex > 0) {
            input = headerName.options[headerName.selectedIndex].value;
            filter = input.toUpperCase();
            tr = document.getElementsByTagName("tr");
            for (i = 1; i < tr.length; i++) {
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    cell = tr[i].getElementsByTagName("td")[j]
                    if (cell) {
                        if (cell.innerHTML.toUpperCase().includes(filter) === true) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
        }
    }
</script>
</html>