<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CSV Demo</title>
    <style>
        table {
            width: 95%;
            border-collapse: collapse;
            margin: 50px auto;
        }

        /* Zebra striping */
        tr:nth-of-type(odd) {
            background: #eee;
        }

        th {
            background: #3498db;
            color: white;
            font-weight: bold;
        }

        td, th {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
            font-size: 18px;
        }

        #w100 {
            width: 400px;
        }
    </style>
</head>

<body>
<div>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select a CSV file:</label>
        <input type="file" id="file" name="file"><br><br>
        <input type="submit">
    </form>
</div>
<div style="margin-top: 20px">
    <span>Filter: </span><span>Choose Column</span>
    <span>
        <label>
            <select id="columns">
                <option>Select a Column</option>
                <option th:each="tableHeader: ${tableHeaders}" th:value="${tableHeader}"
                        th:text="${tableHeader}"></option>
            </select>
        </label>
    </span>
    <span>
        <label>
            <input type="text" placeholder="Search" onkeyup="filter(this);">
        </label>
    </span>
</div>
<table id="table">
    <thead>
    <tr>
        <th th:each="tableHeader: ${tableHeaders}" th:text="${tableHeader.toString()}">
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract: ${contracts}">
        <!--/*@thymesVar id="contract" type="com.ubaid.elixir.elixirApp.dto.Contract"*/-->
        <td>
            <span th:each="seg: ${contract.getContractPlanSegComp()}">
                <p th:text="${seg}"></p>
            </span>
        </td>

        <td th:text="${contract.getContract()}"></td>
        <td th:text="${contract.getBrandName()}"></td>
        <td id="w100">
            <span th:each="plan: ${contract.getPlanNames()}">
                <p th:text="${plan}"></p>
            </span>
        </td>

        <td>
            <span th:each="state: ${contract.getState()}">
                <p th:text="${state}"></p>
            </span>
        </td>

        <td>
            <span th:each="abbr: ${contract.getStateAbbreviation()}">
                <p th:text="${abbr}"></p>
            </span>
        </td>
        <td th:text="${contract.getProductType()}"></td>
    </tr>
    </tbody>
</table>
</body>

<script>

    //for filtering
    function filter(textInput) {
        //getting Column Select Box
        const columns = document.getElementById("columns");
        let filter, tr, cell, i;

        // Checking if column is selected
        if (columns.selectedIndex > 0) {

            //get the value in the input text
            filter = textInput.value.toUpperCase();

            //get all table rows
            tr = document.getElementsByTagName("tr");

            //loop through the table rows
            for (i = 1; i < tr.length; i++) {

                //initially setting to hidden
                tr[i].style.display = "none";

                //now getting the respective cell (of selected column)
                cell = tr[i].getElementsByTagName("td")[columns.selectedIndex - 1]

                //now check if this column contain the text
                //if contained then setting visible the respective row
                if (cell) {
                    if (cell.innerHTML.toUpperCase().includes(filter) === true) {
                        tr[i].style.display = "";
                    }
                }
            }
        }
    }
</script>
</html>